<div class="row">
  <div class="jumbotron bg-dark text-primary col-12">
    <a href={{Link}}>
 	  <h3>{{Title}}</h4>
    <img src={{ImgLink}}>
    </a>
    <div id="Summary">
    {{{Summary}}} 
    </div>
    <div>
      <a class="btn btn-primary" style="color:white;" href="/api/save/{{Title}}" >Save</a>
    </div>
  </div>
</div>
