<div class="row">
 	<div class="col-4">
		{{BURGER_NAME}}
	</div>
	{{#if DEVOURED}}
	<div class="col-4 dte">
		{{createdAt}}
	</div>
	{{/if}}
	{{#unless DEVOURED}}
	<div class="col-4">
		<button class="btn btn-primary change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
			Devour!
		</button>
	</div>
	<div class="col-4">
		<button class="btn btn-primary remove-eaten" data-id="{{id}}">Remove!</button>
	</div>
	{{/unless}}
</div>